<ion-footer>
  <ion-toolbar>

    <ion-title size="small">
      &copy; 2025 Fit Mafia Tiffin Service.
      <a href="https://www.fitmafiatiffinservice.com/privacy-policy" target="_blank">Privacy Policy</a> |
      <a href="https://www.fitmafiatiffinservice.com/terms-of-service" target="_blank">Terms</a> |
      <a href="https://www.fitmafiatiffinservice.com/contact" target="_blank">Contact</a>
    </ion-title>

    <ion-buttons slot="end">
      <a href="https://www.facebook.com/people/Fit-Mafia-Meal-Service/61574173794918/" target="_blank">
        <ion-icon name="logo-facebook" style="font-size: 20px; margin-right: 12px;"></ion-icon>
      </a>
      <a href="https://www.instagram.com/fitmafiatiffinservice" target="_blank">
        <ion-icon name="logo-instagram" style="font-size: 20px; margin-right: 12px;"></ion-icon>
      </a>
      <a href="https://www.fitmafiatiffinservice.com/about" target="_blank">
        <ion-icon name="logo-twitter" style="font-size: 20px;"></ion-icon>
      </a>
      &nbsp;
    </ion-buttons>

  </ion-toolbar>
</ion-footer>