<app-header></app-header>

<ion-content [fullscreen]="true">
    <ion-header>
        <ion-toolbar>
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Services</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <div class="container">
        <div class="row">
        <div class="col-12 col-md-6">
            <img src="../../assets/images/services.jpg" alt="Services" class="img-fluid">
        </div>
        <div class="col-12 col-md-6">
            <h2>Our Services</h2>
            <p>We offer a variety of services to cater to your needs. From meal plans to fitness coaching, we have it all.</p>
        </div>
        </div>
    </div>
</ion-content>